/*reset*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,img,iframe,abbr,input{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1 'Microsoft YaHei';color:#333;outline:0;}
body{background:#fff;}
a{color:#333;}

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-pa{position: absolute;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}

/*整体*/
.hr-9{height: 9px;}
.container{width: 1183px;margin: 0 auto;}

/*logo及搜索*/
.header .content{height: 87px;}
.header .logo{width: 284px;height:87px;margin-left: 70px;}
.header .logo a{display: block;width: 284px;height: 87px;background: url(../images/logo.png) 0px 28px no-repeat;}
.header .search{margin-right: 100px;}
.search-category{margin:21px auto 9px 4px;}
.search-category a{margin-right:19px;line-height: 12px;color: #000;}
.search-category a.active{color: #3b89f3;font-weight: bold;}
.search-form .search-input{width:394px;height: 17px;line-height: 17px;padding: 4px;border:1px solid #99bbd7;}
.search-form .search-btn{width:49px ;height: 27px;background: url(../images/search.png);}
.header .advanced-search{line-height: 27px;margin-left: 12px;color: #3b89f3;font-size: 14px;font-weight: bold;}
.header .hr-left{width: 288px;height: 8px;background-color: #a3c4f1;border:none;}
.header .hr-right{height: 8px;background-color: #ebf1f6;border:none;}

/*个人登录信息*/
.public{margin-left: 77px;}
.public-left fieldset{width: 203px;margin-top: 32px;border:2px solid #c5daea;border-radius: 4px;behavior:url(../javascript/PIE.htc);/*IE8圆角兼容*/}
.public-left legend{margin-left: 20px;font-size: 16px;font-weight:bold;line-height: 16px;color: #3b89f3;}
.user-introduce{width: 90px;margin: 8px auto;text-align: center;color: #000;}
.user-introduce .name{font-size: 16px;margin-top: 24px;}
.user-introduce .section{margin-top: 15px;}
.user-doc{width: 158px;margin:41px auto 26px;}
.user-doc .item{float: left;width: 52px;height: 70px;text-align: center;}
.user-doc .document{border-left: 1px solid #d9e7f1;border-right: 1px solid #d9e7f1;}
.user-doc .number{display: block;font-size: 16px;color: #3b89f3;margin-top: 20px;margin-bottom: 11px;}
.user-doc .sort{color: #000;}
.recent-doc{width: 160px;margin:0 auto;padding-top: 29px;padding-bottom: 24px;border-top: 1px dotted #d7d7d7;line-height: 20px;color: #888;}
.recent-doc a{color: #888;}
.recent-doc .item-recent{list-style-type: square;}
.recent-doc span{float: right;}
.personal-center{display: block;width: 181px;height: 36px;line-height: 36px;margin: 0 auto 13px;text-align: center;background-color: #3b89f3;color:#fff;border-radius: 5px;behavior:url(../javascript/PIE.htc);}

/*公共资源右侧*/
/*资源切换*/
.public-right{margin-left: 32px;}
.public-right .resource{margin-top: 22px;width: 472px;}
.public-right .resource-title{padding-left: 4px;font-size: 0;}	
.resource-title .title-item{display: inline-block;padding-bottom: 7px;font-size: 15px;color: #555353;}
.resource-title .title-item:hover a,.resource-title .active a{color: #3b89f3;font-weight: bold;}
.resource-title .active{border-bottom: 4px solid #7ba6ca;}
.resource-title .contribution-rank{margin-left: 30px;margin-right: 30px;}
.resource .resource-content{border-top: 4px solid #c5daea;margin-top: -4px;}
.resource .article{border-bottom: 1px dotted #ccc;}
.resource .article-last{border-bottom: none;}
.resource-content img{float: left;margin-top: 17px;margin-left: 14px;}
.resource-content .text{float: left;margin:19px auto 16px 6px;}
.resource-content .article-title{font-size: 14px;color: #000;}
.resource-content .article-info{margin-top: 11px;}
.resource-content .article-info span{color: #a3a3a3;}
.resource-content .article-author{margin-right: 19px;}
.resource-content .download{margin-top: 23px;margin-right:3px;}
.resource-content .download-btn{width: 46px;height: 27px;background-color: #8ecee3;font-size: 14px;color:#fff;border-top-left-radius: 5px;border-bottom-left-radius: 5px;border-right: 1px solid #bce2ee;behavior:url(../javascript/PIE.htc);}
.resource-content .download-num{display: block;float: right;width: 28px;height: 27px;line-height: 27px;background-color: #8ecee3;color: #fff;font-size:10px;border-top-right-radius: 5px;border-bottom-right-radius:5px; behavior:url(../javascript/PIE.htc);text-align: center;}
/*热搜文档*/
.hot-search-document{width: 284px;margin-left: 23px;}
.hot-search-document h3{font-size: 16px;font-weight: normal;color: #3b89f3;margin: 19px auto 10px 6px;}
.hot-search-document .doc-list{padding:16px 18px 30px 21px;border:1px solid #c5daea;border-top-width: 4px}
.hot-search-document .item{line-height: 32px;}
.hot-search-document .item i{float: left;}
.hot-search-document .doc{float: left;width: 120px;color: #000;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.hot-search-document .name{float: left;margin-left: 25px;color:#a3a3a3;}
.hot-search-document .number{position: relative;top:2px;float: right;width: 28px;height:28px;line-height:28px;text-align: center;background: url(../images/circle_red.png) no-repeat;color: #fff;}
.hot-search-document .number-orange{background: url(../images/circle_orange.png) no-repeat;}
/*科室动态*/
.section-info h3{font-size: 16px;font-weight: normal;color: #3b89f3;margin: 19px auto 10px 4px;}
.section-info .wrapper{width: 100%;border-top: 4px solid #c5daea;}
.section-doc{width: 50%;margin-top: 10px;margin-bottom: 35px;}
.section-doc .item{line-height: 32px;}
.section-doc .doc{float: left;width: 240px;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.section-doc .name{float: left;width:45px;margin-left: 25px;color:#999;}
.section-doc .date{float: left;color:#999;}

/*分类知识*/
.classification{margin-left: 77px;margin-right: 86px;}
.classification h3{font-size: 16px;font-weight: normal;color: #0084d5;margin: 0 auto 10px 41px;}
.classification .wrapper{position: relative;width: 100%;border-top:4px solid #c5daea;}
.classification .classification-left{width: 206px;height:388px;border: 2px solid #c5daea;margin-top: -4px;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;}
/*科室选择*/
.classification .select{display: block;width: 190px;height: 29px;line-height: 29px;margin:24px auto 0px;text-indent:14px;font-size:16px;color:#fff;background:#98bad7 url(../images/triangle.png) 165px center no-repeat;border-radius: 5px;behavior:url(../javascript/PIE.htc);}
.classification .section-item{position: absolute;top: 58px;left: 10px;z-index: 1;behavior:url(../javascript/PIE.htc);}
.classification .section-item li{width: 190px;height: 29px;line-height: 29px; text-indent:14px;font-size:16px;color:#fff;background:#98bad7;border-top:1px solid #fff;cursor: pointer;}
/*科室列表树*/
.tree{margin-left: -22px;}
.tree li {padding:10px 5px 0 35px;position:relative}
.tree li::before, .tree li::after {content:'';left:15px;position:absolute;right:auto}
.tree li::before {border-left:2px solid #8ecee3;bottom:50px;height:100%;top:0;width:1px}
.tree li::after {border-top:2px solid #8ecee3;height:20px;top:25px;width:25px}
.tree li span {display:inline-block;padding:3px 8px;text-decoration:none}
.tree li.parent_li>span {cursor:pointer}
.tree>ul>li::before, .tree>ul>li::after {border:0}
.tree li:last-child::before {height:25px}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {color:#000}
.icon-folder-open,.icon-plus-sign,.icon-minus-sign,.icon-leaf{display: inline-block;width: 16px;height: 16px;/*margin-top: -2px;*/margin-right: 8px;line-height: 16px;vertical-align: text-top;background-repeat: no-repeat;}
.icon-folder-open {width: 16px;background-image: url("../images/tree_1.png")!important;}
.icon-plus-sign {background-image: url("../images/tree_2s.png");}
.icon-minus-sign {background-image: url("../images/tree_2.png");}
.icon-leaf {background-image: url("../images/tree_3.png");}
/*分类知识右侧列表*/
.classification-right{padding-top: 24px;padding-bottom: 67px;}
.doc-table{margin-bottom: 17px;}
.doc-table .th .title,.doc-table .th .name,.doc-table .th .source,.doc-table .th .date{background-color: #e3edf5;}
.doc-table .th .title{border-top-left-radius: 5px;border-bottom-left-radius: 5px;behavior:url(../javascript/PIE.htc);}
.doc-table .th .date{border-top-right-radius: 5px;border-bottom-right-radius: 5px;behavior:url(../javascript/PIE.htc);}
.doc-table .th,.doc-table .tr{line-height: 32px;}
.doc-table .content .name,.doc-table .content .source,.doc-table .content .date{color: #999;}
.doc-table .title{float: left;width: 423px;margin-right: 1px;padding-left: 18px;}
.doc-table .name{float: left;width: 100px;margin-right: 1px;text-indent: 24px;}
.doc-table .source{float: left;width: 119px;margin-right: 1px;text-indent: 27px;}
.doc-table .date{float: left;width: 117px;text-indent: 34px;}
.doc-table img{margin-right: 17px;vertical-align: sub;}
/*分页*/
.doc-pagination{margin-left: 50px;}
.doc-pagination a{display: inline-block;line-height: 27px;border:1px solid #e7ecf0;margin-left: 5px;text-align: center;}
.doc-pagination .prev,.doc-pagination .next{width: 60px;height: 27px;}
.doc-pagination .last{width: 41px;}
.doc-pagination .num{width: 27px;height: 27px;}
.doc-pagination .active,.doc-pagination a:hover{color: #fff;background: #28b385;}

/*页脚*/
.footer{margin-bottom: 39px;text-align: center;font-size: 14px;color:#000;}




